<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <meta name="keywords" content="" >
    <meta name="description" content="a web developer based in Cebu City, Cebu who loved building applications that people would use.">
    <link rel="stylesheet" href="../../public/css/index.css">
    <link rel="stylesheet" href="../../public/css/page/index.css">
</head>
<body>

    <nav class="p-header">
        <div class="p-header__bar u-d-n-pc u-d-n-tablet">
            <div class="bar01"></div>
            <div class="bar02"></div>
            <div class="bar03"></div>
        </div>
        <div class="l-wrap">
            <ul class="p-header__ul">
                <li class="p-header__li">
                    <a href="#about">About</a>
                </li>
                <li class="p-header__li">
                    <a href="#experience">Experience</a>
                </li>
                <li class="p-header__li">
                    <a href="#skills">Skills</a>
                </li>
                <li class="p-header__li">
                    <a href="#contact" class="c-link">Contact</a>
                </li>
                <li class="p-header__li u-d-n-pc u-d-n-tablet">
                    <a href="https://github.com/perderp" target="_blank" aria-label="Github" class="github">
                        <svg width="30" height="30" clip-rule="evenodd" fill-rule="evenodd" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 640 640" xmlns="http://www.w3.org/2000/svg">
                        <path d="m319.99 7.973c-176.7 0-319.99 143.27-319.99 319.99 0 141.39 91.678 261.3 218.83 303.63 16.004 2.964 21.886-6.957 21.886-15.414 0-7.63-0.319-32.835-0.449-59.552-89.032 19.359-107.8-37.772-107.8-37.772-14.552-36.993-35.529-46.831-35.529-46.831-29.032-19.879 2.209-19.442 2.209-19.442 32.126 2.245 49.04 32.954 49.04 32.954 28.56 48.922 74.883 34.76 93.131 26.598 2.882-20.681 11.15-34.807 20.315-42.803-71.08-8.067-145.8-35.516-145.8-158.14 0-34.926 12.52-63.485 32.965-85.88-3.33-8.078-14.291-40.606 3.083-84.674 0 0 26.87-8.61 88.029 32.8 25.512-7.075 52.878-10.642 80.056-10.76 27.2 0.118 54.614 3.673 80.162 10.76 61.076-41.386 87.922-32.8 87.922-32.8 17.398 44.08 6.485 76.631 3.154 84.675 20.516 22.394 32.93 50.953 32.93 85.879 0 122.91-74.883 149.93-146.12 157.86 11.481 9.921 21.733 29.398 21.733 59.233 0 42.792-0.366 77.28-0.366 87.804 0 8.516 5.764 18.473 21.992 15.354 127.08-42.354 218.64-162.27 218.64-303.58 0-176.7-143.27-319.99-320-319.99l-0.023 0.107z"/>
                        </svg>     
                    </a>

                    <a href="https://www.instagram.com/_perderp/" target="_blank" aria-label="Instagram" class="instagram">
                        <svg width="30" height="30" data-name="Instagram" viewBox="0 0 122.88 122.88" xmlns="http://www.w3.org/2000/svg">
                            <title>instagram-logo-black-and-white</title>
                            <path d="M61.45,0C44.76,0,42.66.07,36.11.37A45.08,45.08,0,0,0,21.2,3.23a29.86,29.86,0,0,0-10.88,7.08,30.26,30.26,0,0,0-7.1,10.88A44.92,44.92,0,0,0,.37,36.11C.08,42.66,0,44.75,0,61.44S.07,80.21.37,86.77a45.08,45.08,0,0,0,2.86,14.91,30.12,30.12,0,0,0,7.08,10.88,30.13,30.13,0,0,0,10.88,7.1,45.17,45.17,0,0,0,14.92,2.85c6.55.3,8.64.37,25.33.37s18.77-.07,25.33-.37a45.17,45.17,0,0,0,14.92-2.85,31.54,31.54,0,0,0,18-18,45.6,45.6,0,0,0,2.86-14.91c.29-6.55.37-8.64.37-25.33s-.08-18.78-.37-25.33a45.66,45.66,0,0,0-2.86-14.92,30.1,30.1,0,0,0-7.09-10.88,29.77,29.77,0,0,0-10.88-7.08A45.14,45.14,0,0,0,86.76.37C80.2.07,78.12,0,61.43,0ZM55.93,11.07h5.52c16.4,0,18.34.06,24.82.36a34,34,0,0,1,11.41,2.11,19,19,0,0,1,7.06,4.6,19.16,19.16,0,0,1,4.6,7.06,34,34,0,0,1,2.11,11.41c.3,6.47.36,8.42.36,24.82s-.06,18.34-.36,24.82a33.89,33.89,0,0,1-2.11,11.4A20.35,20.35,0,0,1,97.68,109.3a33.64,33.64,0,0,1-11.41,2.12c-6.47.3-8.42.36-24.82.36s-18.35-.06-24.83-.36a34,34,0,0,1-11.41-2.12,19,19,0,0,1-7.07-4.59,19,19,0,0,1-4.59-7.06,34,34,0,0,1-2.12-11.41c-.29-6.48-.35-8.42-.35-24.83s.06-18.34.35-24.82a33.7,33.7,0,0,1,2.12-11.41,19,19,0,0,1,4.59-7.06,19.12,19.12,0,0,1,7.07-4.6A34.22,34.22,0,0,1,36.62,11.4c5.67-.25,7.86-.33,19.31-.34Zm38.31,10.2a7.38,7.38,0,1,0,7.38,7.37,7.37,7.37,0,0,0-7.38-7.37ZM61.45,29.89A31.55,31.55,0,1,0,93,61.44,31.56,31.56,0,0,0,61.45,29.89Zm0,11.07A20.48,20.48,0,1,1,41,61.44,20.48,20.48,0,0,1,61.45,41Z"/>
                            </svg>
                            
                    </a>

                    <a href="./" aria-label="LinkedIn" class="linkedin">
                        <svg width="30" height="30" clip-rule="evenodd" fill-rule="evenodd" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 640 640" xmlns="http://www.w3.org/2000/svg">
                            <path d="m580 0h-520c-33 0-60 27-60 60v520c0 33 27 60 60 60h520c33 0 60-27 60-60v-520c0-33-27-60-60-60zm-340.01 520h-79.985v-280.01h79.985v280.01zm-40.004-320.01c-22.11 0-39.993-17.882-39.993-39.993 0-22.122 17.882-40.004 39.993-40.004 22.122 0 40.004 17.882 40.004 40.004 0 22.11-17.882 39.993-40.004 39.993zm320.01 320.01h-79.986v-159.99c0-22.122-17.893-40.004-40.004-40.004-22.122 0-40.004 17.882-40.004 40.004v159.99h-80.01v-280.01h80.01v49.642c16.476-22.654 41.752-49.642 69.993-49.642 49.76 0 90 44.764 90 100v180z"/>
                            </svg>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="p-info u-d-n-tablet u-d-n-sp">
        <ul class="p-info__list">
            <li>
                <a href="https://github.com/perderp" target="_blank" aria-label="Github" class="github">
                    <svg width="30" height="30" clip-rule="evenodd" fill-rule="evenodd" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 640 640" xmlns="http://www.w3.org/2000/svg">
                    <path d="m319.99 7.973c-176.7 0-319.99 143.27-319.99 319.99 0 141.39 91.678 261.3 218.83 303.63 16.004 2.964 21.886-6.957 21.886-15.414 0-7.63-0.319-32.835-0.449-59.552-89.032 19.359-107.8-37.772-107.8-37.772-14.552-36.993-35.529-46.831-35.529-46.831-29.032-19.879 2.209-19.442 2.209-19.442 32.126 2.245 49.04 32.954 49.04 32.954 28.56 48.922 74.883 34.76 93.131 26.598 2.882-20.681 11.15-34.807 20.315-42.803-71.08-8.067-145.8-35.516-145.8-158.14 0-34.926 12.52-63.485 32.965-85.88-3.33-8.078-14.291-40.606 3.083-84.674 0 0 26.87-8.61 88.029 32.8 25.512-7.075 52.878-10.642 80.056-10.76 27.2 0.118 54.614 3.673 80.162 10.76 61.076-41.386 87.922-32.8 87.922-32.8 17.398 44.08 6.485 76.631 3.154 84.675 20.516 22.394 32.93 50.953 32.93 85.879 0 122.91-74.883 149.93-146.12 157.86 11.481 9.921 21.733 29.398 21.733 59.233 0 42.792-0.366 77.28-0.366 87.804 0 8.516 5.764 18.473 21.992 15.354 127.08-42.354 218.64-162.27 218.64-303.58 0-176.7-143.27-319.99-320-319.99l-0.023 0.107z"/>
                    </svg>     
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/_perderp/" target="_blank" aria-label="Instagram" class="instagram">
                    <svg width="30" height="30" data-name="Instagram" viewBox="0 0 122.88 122.88" xmlns="http://www.w3.org/2000/svg">
                        <title>instagram-logo-black-and-white</title>
                        <path d="M61.45,0C44.76,0,42.66.07,36.11.37A45.08,45.08,0,0,0,21.2,3.23a29.86,29.86,0,0,0-10.88,7.08,30.26,30.26,0,0,0-7.1,10.88A44.92,44.92,0,0,0,.37,36.11C.08,42.66,0,44.75,0,61.44S.07,80.21.37,86.77a45.08,45.08,0,0,0,2.86,14.91,30.12,30.12,0,0,0,7.08,10.88,30.13,30.13,0,0,0,10.88,7.1,45.17,45.17,0,0,0,14.92,2.85c6.55.3,8.64.37,25.33.37s18.77-.07,25.33-.37a45.17,45.17,0,0,0,14.92-2.85,31.54,31.54,0,0,0,18-18,45.6,45.6,0,0,0,2.86-14.91c.29-6.55.37-8.64.37-25.33s-.08-18.78-.37-25.33a45.66,45.66,0,0,0-2.86-14.92,30.1,30.1,0,0,0-7.09-10.88,29.77,29.77,0,0,0-10.88-7.08A45.14,45.14,0,0,0,86.76.37C80.2.07,78.12,0,61.43,0ZM55.93,11.07h5.52c16.4,0,18.34.06,24.82.36a34,34,0,0,1,11.41,2.11,19,19,0,0,1,7.06,4.6,19.16,19.16,0,0,1,4.6,7.06,34,34,0,0,1,2.11,11.41c.3,6.47.36,8.42.36,24.82s-.06,18.34-.36,24.82a33.89,33.89,0,0,1-2.11,11.4A20.35,20.35,0,0,1,97.68,109.3a33.64,33.64,0,0,1-11.41,2.12c-6.47.3-8.42.36-24.82.36s-18.35-.06-24.83-.36a34,34,0,0,1-11.41-2.12,19,19,0,0,1-7.07-4.59,19,19,0,0,1-4.59-7.06,34,34,0,0,1-2.12-11.41c-.29-6.48-.35-8.42-.35-24.83s.06-18.34.35-24.82a33.7,33.7,0,0,1,2.12-11.41,19,19,0,0,1,4.59-7.06,19.12,19.12,0,0,1,7.07-4.6A34.22,34.22,0,0,1,36.62,11.4c5.67-.25,7.86-.33,19.31-.34Zm38.31,10.2a7.38,7.38,0,1,0,7.38,7.37,7.37,7.37,0,0,0-7.38-7.37ZM61.45,29.89A31.55,31.55,0,1,0,93,61.44,31.56,31.56,0,0,0,61.45,29.89Zm0,11.07A20.48,20.48,0,1,1,41,61.44,20.48,20.48,0,0,1,61.45,41Z"/>
                        </svg>
                        
                </a>
            </li>
            <li>
                <a href="./" aria-label="LinkedIn" class="linkedin">
                    <svg width="30" height="30" clip-rule="evenodd" fill-rule="evenodd" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 640 640" xmlns="http://www.w3.org/2000/svg">
                        <path d="m580 0h-520c-33 0-60 27-60 60v520c0 33 27 60 60 60h520c33 0 60-27 60-60v-520c0-33-27-60-60-60zm-340.01 520h-79.985v-280.01h79.985v280.01zm-40.004-320.01c-22.11 0-39.993-17.882-39.993-39.993 0-22.122 17.882-40.004 39.993-40.004 22.122 0 40.004 17.882 40.004 40.004 0 22.11-17.882 39.993-40.004 39.993zm320.01 320.01h-79.986v-159.99c0-22.122-17.893-40.004-40.004-40.004-22.122 0-40.004 17.882-40.004 40.004v159.99h-80.01v-280.01h80.01v49.642c16.476-22.654 41.752-49.642 69.993-49.642 49.76 0 90 44.764 90 100v180z"/>
                        </svg>
                </a>
            </li>
        </ul>
    </div>
    <main>
        <section class="hero">
            <div class="l-wrap">
                <div class="hero__inner l-container u-d-f">
                    <div class="l-container__left hero__left">
                        <div class="hero__group">
                            <img src="/public/images/img_hero.png" alt="per" class="hero__img">
                            <div class="circle">

                            </div>
                            <div class="circle02">
                                    
                            </div>
                        </div>

                    </div>
                    <div class="l-container__right hero__right">
                        <div class="c-title  hero__title">
                            Chiron Jaspher M. <span class="c-title hero__title hero__title--orange">
                                Cainap
                            </span>
    
                            <div class="subtitle">
                                <img src="/public/images/subTitle.png" alt="" srcset="">
                            </div>
                        </div>
    
                        <a class=" c-button resume" href="/public/resume/Cainap_resume.pdf" download="cainap_resume" >
                            <i class="resume__icon">
                                <img src="../../public/images/icon_download.svg" alt="">
                            </i>
                            Download Resume
                        </a>
    
                    </div>
                </div>
            </div>
        </section>
        <section class="about " id="about"> 
            <div class="about__bg"></div>

            <div class="l-wrap">
                <div class="about__inner l-container  ">
                    <div class="about__title c-title hidden-left">
                        About Me : 
                    </div>
                    <div class="about__body u-d-f">
                        <div class="about__left l-container__left--30  hidden-shake">
                            <img src="./public/images/img_about.png" alt="Jaspher" class="about__image">
                        </div>
                        <div class="about__right l-container__right--70 hidden-left">
                            <p class="about__content">
                                Hello! My name is Jaspher or just "Per", a web developer based in Cebu City, Cebu 
                                who loved building applications that people would use.
                                <br><br>
                                I’m flexible and adaptable in regards to learning and understanding new technologies.
                                <br><br>
                                When I’m not busy, I like to spend my time playing video games, watching movies or current technology trends and, sleeping :)   

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="experience " id="experience">
            <div class="experience__overlay ">
                <img src="/public/images/img_spinner.png" alt="" class="spinner experience__overlay__spin experience__overlay__spin--01">
                <img src="/public/images/img_spinner02.png" alt="" class="spinner experience__overlay__spin experience__overlay__spin--02">
                <img src="/public/images/img_spinner.png" alt="" class="spinner experience__overlay__spin experience__overlay__spin--03">
            </div>
            <div class="l-wrap">
                <div class="experience__inner l-container">
                    <div class="experience__title c-title hidden-right">
                        Experience : 
                    </div>
                    
                    <% db.experience.forEach( (index) => { %>
                        <div class="experience__group u-d-f hidden-right" id="<%= index.id %>">
                            <div class="experience__group__left l-container__left--70">
                                <div class="title">
                                    <h1 class="title__text"><%= index.company %></h1>
                                    <p class="title__subtext"><%= index.position %></p>
                                </div>
                                <ul class="tasks">
                                    <% index.tasks.forEach( (task) => { %>
                                        <li class="task"><%= task %></li>
                                    <% }) %>
                                </ul>
            
                                <div class="uses">
                                    <% index.uses.forEach( (use) => { %>
                                        <p class="uses__group">
                                            <span class="title"><%= use.type %> </span>
                                            <span class="text"><%= use.content %></span>
                                        </p>
                                    <% }) %>
                                </div> 
                            </div>
                            <div class="experience__group__right l-container__right--30">
                                <div class="projects ">
                                    <div class="projects__title">
                                        projects : 
                                    </div>
        
                                    <div class="projects__list">
                                        <% index.projects.forEach( (project) => { %>
                                            <p>
                                                <a href="https://<%=project %>" target="_blank" class="list"> <%= project %> </a>
                                            </p>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>
        <section class="skills " id="skills">
            <div class="skills__overlay">
                <img src="/public/images/img_spinner02.png" alt="" class="spinner skills__overlay__spin skills__overlay__spin--01 ">
                <img src="/public/images/img_spinner.png" alt="" class="spinner skills__overlay__spin skills__overlay__spin--02">
                <img src="/public/images/img_spinner02.png" alt="" class="spinner skills__overlay__spin skills__overlay__spin--03">
            </div>
            <div class="l-wrap">
                <div class="l-container skills__inner">
                    <div class="c-title hidden-left">
                        Skills : 
                    </div>
    
                    <%db.skills.forEach( (index) => { %>
                        <div class="skills__type <%= index.type.toLowerCase() %> hidden-left">
                            <div class="<%= index.type.toLowerCase() %>__head c-title02">
                                <%= index.type %>
                            </div>
                            <div class="<%= index.type.toLowerCase() %>__body skills__body">
                                <ul class="content">
                                    <%index.contents.forEach((contents) => { %>
                                        <li class="content__list">
                                            <%=contents %>
                                        </li>
                                    <% }) %>
                                </ul>
                            </div>
                        </div>
                
                    <%}) %>
                </div>
            </div>
        </section>
        <section class="contact " id="contact">
            <div class="contact__bg"></div>
            <div class="l-wrap">
                <div class="contact__inner l-container">
                    <div class="contact__body content">
                        <p class="content__top hidden-pop">
                            Get In Touch
                        </p>
                        <div class="content__center">
                            I’m not currently looking for any new opportunities, my inbox is always open. 
                            Whether you have a question or just want to say hi, I’ll try my best to get back to you!
                        </div>
    
                        <div class="content__bottom">
                            <a class="contact c-button" href="mailto:chironjasphercainap@gmail.com">
                                Say Hello!
                            </a>
                        </div>
    
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script defer src="../../public/js/compiled.js"></script>
</body>
</html>